.skeleton {
  background-color: #f0f0f0;
  overflow: hidden;
  position: relative;
}

.skeleton-text {
  height: 20px;
}

.skeleton-circle {
  border-radius: 50%;
}

.skeleton-rect {
  border-radius: var(--radius-sm);
}

.skeleton-shimmer {
  background: linear-gradient(to right, #f6f7f8 4%, #edeef1 25%, #f6f7f8 36%);
  background-size: 1000px 100%;
  animation: shimmer 2s infinite linear;
}
